body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: black;
  
}

form {
    color: white;
    text-align: left;
    
    
}
header{
    padding-top: 30px;;
    margin-left: 26%;
    color: #ffffff;
    font-size: 25px;
    padding: 10px 0 0;
}

.main{
    max-width: 350px;
    margin-left: 400px;
    
    margin-top: 10px;
    
  

}

form input[type="text"],
form input[type="email"],
form input[type="password"],
form input[type="date"]

 {
  color: black;
  width: 500px;
  padding: 0px;
  margin: 0px 0;
 
  
  background: transparent;
  border: none;
  border-bottom: 1px solid #fff;
  padding: 10px 5px;
  color: white;
  outline: none;
  

}
input::placeholder {
  color: #ffffff;
  font-size: 25px;
}


form input[type="submit"]
{
    width: 170px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 25px;
}

footer{
    padding-top: 35px;
    color:#ffffff;
    text-align: center;
}

